doctype
html(lang='en')
	head
		meta(charset='utf-8')
		title Angular2

		script( src="node_modules/core-js/client/shim.min.js" )
		script( src="node_modules/zone.js/dist/zone.js" )
		script( src="node_modules/systemjs/dist/system.src.js" )
		script( src="systemjs.config.js" )

	body
		app Loading...
